// Mixins

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
