//breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

//fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

//main veriables
$primary-text-color: rgb(35, 37, 35);
$primary-icon-color: #c0c0c0;

// Menu background
$background-menu: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.8)),
  url('/images/hookah-ape.jpg');

$background-main: linear-gradient(to right, (#434343), (#000000)),
  url('/images/smoke.png');
