// .footer {
//   padding-top: 30px;
// }

.footer-adress {
  // color: $primary-text-color;
  font-style: normal;

  //   padding-bottom: 20px;
}

.footer-svg {
  margin-right: 10px;
}

.footer-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .adress-link {
//   display: inline-flex;
//   align-items: center;
// }

// .footer-svg {
//   margin-right: 15px;
// }

// .footer-schedule {
//   color: $primary-text-color;
//   padding-top: 20px;

//   display: inline-flex;
//   align-items: center;
// }
