.footer {
  padding-top: 30px;
}

.footer-adress {
  color: $primary-text-color;
  font-style: normal;

  padding-bottom: 20px;
}

.adress-link {
  display: inline-flex;
  align-items: center;
}

.footer-svg {
  margin-right: 15px;
}
