main {
  background-color: rgb(35, 37, 35);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  text-align: center;
}

.hero-logo {
  padding-top: 70px;
  padding-bottom: 30px;
}

.hero-image {
  padding-bottom: 20px;
}
