.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  text-align: center;
}

.hero-logo {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-image {
  padding-bottom: 20px;
}

.hero-menu {
  text-decoration: none;
  color: #d9d9d9;

  font-size: 20px;
}

.hero-sprite {
  padding-bottom: 30px;
}
