.nav-container {
  background-image: url('/images/smoke.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  height: -webkit-fill-available;

  background-color: $primary-text-color;

  padding-top: 120px;

  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  transform: translateY(-100%);
  transition: transform 250ms ease-in, opacity 250ms ease-in;

  z-index: 2;

  @media screen and (min-width: $tablet) {
    padding-top: 160px;
  }

  @media screen and (min-width: $desktop) {
    opacity: 1;
    position: initial;
    transform: initial;
    z-index: initial;

    padding: 120px 120px;

    margin-top: 160px;

    background-image: url('/images/smoke.png'),
      linear-gradient(to right, (#434343), (#000000));
  }

  &.is-open {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-title {
  color: white;

  margin-bottom: 40px;

  word-spacing: 5px;
  font-size: 26px;
  text-transform: uppercase;
  text-shadow: 1px 4px 5px rgb(0 0 0), 0px 3px 5px rgb(0 0 0),
    1px 0px 3px rgb(0 0 0);

  @media screen and (min-width: $tablet) {
    font-size: 38px;
    margin-bottom: 45px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 60px;
    margin-bottom: 50px;

    word-spacing: 30px;
  }
}

.nav-link {
  display: inline-block;
}

.nav-adress {
  color: white;

  margin-top: 40px;

  text-shadow: 1px 4px 5px rgb(0 0 0), 0px 3px 5px rgb(0 0 0),
    1px 0px 3px rgb(0 0 0);

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    margin-top: 45px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 32px;
    margin-top: 50px;
  }
}

// Button icons

.button-menu {
  background-color: transparent;

  position: absolute;
  top: 5%;
  right: 10%;

  z-index: 100;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.button-menu .icon-open {
  display: none;
}

.button-menu.is-open .icon-open {
  display: block;
}

.button-menu.is-open .icon-close {
  display: none;
}

.icon {
  height: 50px;

  @media screen and (min-width: $tablet) {
    height: 70px;
  }
}

.icon-close {
  fill: $primary-icon-color;
}

.icon-open,
.icon-menu,
.icon-insta {
  fill: $primary-icon-color;
}

.icon-insta {
  margin-top: 50px;
}

.hookah-icons {
  margin-top: 70px;

  @media screen and (min-width: $tablet) {
    margin-top: 100px;
  }

  @extend %flex;
}

.button-menu svg {
  width: 40px;
  height: 40px;

  @media screen and (min-width: $tablet) {
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: $desktop) {
    width: 60px;
    height: 60px;
  }
}

// Footer

.footer-adress {
  font-style: normal;

  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.adress-link {
  color: white;

  display: inline-flex;
  align-items: center;
}

.adress-link:first-child {
  align-items: flex-end;
}

.footer-svg {
  margin-right: 10px;

  width: 30px;
  height: 30px;

  @media screen and (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }

  @media screen and (min-width: $tablet) {
    width: 50px;
    height: 50px;
  }
}

.footer-schedule {
  @extend %flex;

  margin-top: 20px;

  @media screen and (min-width: $desktop) {
    margin-top: 30px;
  }
}
